@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91; 
    /*#FEFE5B*/
  }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@layer utilities {
  .pause{
    animation-play-state: paused;
  }

.custom-bg{
  @apply bg-background/20 border border-accent/30 border-solid backdrop-blur-[6px]
  shadow-glass-inset hover:shadow-glass-sm;
}

}


@keyframes flicker {
  0%, 100% { opacity: 1; }
  45% { opacity: 1; }
  50% { opacity: 0.2; }
  55% { opacity: 1; }
  80% { opacity: 0.6; }
}